services:
  mongodb:
    image: mongo:5
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      retries: 5

  backend:
    image: ${DOCKER_USERNAME}/mean-crud-backend:latest
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/meancrud